.contentBox {
  padding: 10px;
}
.contentBox .searchCon {
  width: 100%;
  height: 30px;
  border: 1px solid #006699;
  box-sizing: border-box;
  position: relative;
}
.contentBox .searchCon > input {
  border: none;
  outline: none;
  margin: 0;
}
.contentBox .searchCon > .inputText {
  padding-right: 70px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
}
.contentBox .searchCon > .searchBtn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0;
  width: 60px;
  height: 28px;
  background-color: #069;
  color: #fff;
}
.contentBox .resultList {
  width: 100%;
  margin: 15px 0;
  overflow: hidden;
}
.contentBox .resultList > span {
  color: #8f8f94;
}
.contentBox .resultList .history {
  font-size: 14px;
}
.contentBox .resultList .historyClear {
  font-size: 14px;
  line-height: normal;
}
.contentBox .resultList .list {
  border-top: 1px solid;
}
